.movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 20px;
}

.movie-media {
    display: inline-block;
    margin-bottom: .3rem;
    height: 400px;
}

.movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-link {
    display: inline-block;
    width: fit-content;
}

.movie-title {
    font-size: var(--normal-fz);
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.movie-subtitle {
    font-size: var(--normal-fz);
    color: var(--silver-gray-color);
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.display-list {
    display: flex;
    flex-direction: column;
    gap: 10px 0;

    .movie-item {
        display: flex;
        gap: 0 30px;
        padding: 10px 0;
        border-bottom: 1px solid var(--silver-gray-color);
    }
    .content-left {
        flex-shrink: 0;
    }
    .movie-media {
        width: 150px;
        height: 225px;
    }
    .content-right {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .info-footer {
        margin-top: auto;
    }
    .content-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .content-column {
        width: 100%;
    }
    .text-right {
        text-align: right;
        justify-content: flex-end;
    }
    .movie-title {
        font-size: var(--big-fz);
    }
    .movie-date {
        font-size: var(--small-fz);
        color: var(--silver-gray-color);
    }
    .movie-overview {
        color: var(--silver-gray-color);
        font-size: var(--normal-fz);
        line-height: calc(var(--normal-fz) + 15px);
        margin-bottom: 15px;
        display:-webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .movie-score {
        font-weight: bold;
        color: var(--text-main-color);
    }
    .meta {
        display: flex;
        gap: 0 10px;
        align-items: center;
    }
    .movie-logo svg{
        height: 35px;
        width: 35px;
        vertical-align: middle;
    }
    .movie-genre-list {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }
    .movie-genre-item {
        font-size: var(--smaller-fz);
        background:var(--blue-color);
        color: #fff;
        padding: 5px 7px;
        border-radius: 4px;
        display: inline-block;
        width: fit-content;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
}
@media screen and (max-width: 992px) {
    .movie-list {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (max-width: 768px) {
    .movie-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 468px) {
    .movie-list {
        grid-template-columns: 1fr;
        gap: 25px 0;
    }
    .movie-media {
        width: 100%;
    }

    .display-list{
        .movie-item {
            flex-direction: column;
            gap: 10px 0;
            width: 100%;
        }
        .movie-subtitle,.movie-overview,.content-row {
            margin-bottom: 10px;
        }
        .content-left {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .movie-media {
            width: 100%;
            height: 400px;
        }
        .content-row {
            flex-direction: column;
        }
        .text-right {
            justify-content: flex-start;
            text-align: left;
        }
        .row-reserve {
            flex-direction: column-reverse;
        }
    }
}
