
html {
box-sizing: border-box;
overflow-x: hidden;
overflow-y: scroll;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-tap-highlight-color: transparent;
user-select: none;
}

input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none;
color:unset;
}
li {
    list-style: none;
}
// a:hover{
//     color: $main-color
// }
img {
display: block;
max-width: 100%;
}
select {
    color: var(--black-color);
}
body{
    font-family: var(--primary-font);
    background: var(--bg-color);
    color: var(--white-color);
    font-size: var(--normal-fz);
}
.main {
    // overflow: hidden;
    padding-top: calc(var(--header-height) + 1rem);

    .page-title {
        font-size: var(--bigger-fz);
        color: var(--white-color);
        font-weight: 600;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.grid{
    display: grid;
}

.text-main {
    color: var(--text-main-color);
}
.text-second {
    color: var(--text-second-color);
}


.c-blue {
    color: var(--blue-color);
}

.c-red {
    color: var(--red-color);
}

.c-green {
    color: var(--green-color);
}
.c-pink {
    color: var(--green-color);
}

.bg-blue {
    background: var(--blue-color);
}

.bg-red {
    background: var(--red-color);
}

.bg-green {
    background: var(--green-color);
}
.bg-pink {
    background: var(--green-color);
}