
html {
box-sizing: border-box;
overflow-x: hidden;
overflow-y: scroll;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-tap-highlight-color: transparent;
user-select: none;
}

input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none;
color:unset;
}
li {
    list-style: none;
}
// a:hover{
//     color: $main-color
// }
img {
display: block;
max-width: 100%;
}
select {
    color: var(--black-color);
}
body{
    font-family: var(--primary-font);
    background: var(--bg-color);
    color: var(--white-color);
    font-size: var(--normal-fz);
    transition: background-color .3s linear, color .3s linear;
}
[data-theme="light"] {
    --white-color: #0a0a0b;
    --black-color: #fffaff;
    --bg-color: #f5f5f5;
    --bg-light-color: #fff;
    --text-main-color: #0a0a0b;
    --text-second-color:#7a7a7a;
}

.switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 35px;
    z-index: 0;
    input[type="checkbox"]{
        opacity: 0;
        width: 0;
        height: 0;
    }
    input[type="checkbox"]:checked + .slider {
        // background: #86868c;
        background: var(--silver-color);
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(37px);
        -ms-transform: translateX(37px);
        transform: translateX(37px);
    }
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ccc;
        cursor: pointer;
        transition: .3s linear;
        border-radius: 34px;
        box-shadow: 0 0 1px var(--bg-color);
        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            border-radius: inherit;
            left: 6px;
            bottom: 5px;
            background: rgba(255, 255, 255, 0.6);
            -webkit-transition: .4s ease;
            transition: .4s ease;
            z-index: 10;
        }
    }
    .label-dark, .label-light {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: var(--smaller-fz);
        color: var(--black-color);
        font-weight: 600;
        text-transform: uppercase;
        z-index: 9;
        transition: all 0.2s ease;
    }
    .label-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: var(--smaller-fz);
        color: #fff;
        z-index: 10;
        transition: .3s ease;
    }
    .icon-light {
        right: 10px;
        opacity: 0;
        visibility: hidden;
        color: yellow;
    }
    .icon-dark {
        left: 10px;
        color: #269cc3;
    }
    input[type="checkbox"]:checked + .slider .label-dark,
    input[type="checkbox"]:checked + .slider .icon-dark {
        opacity: 0;
        visibility: hidden;
    }
    input[type="checkbox"]:checked + .slider .label-light,
    input[type="checkbox"]:checked + .slider .icon-light {
        opacity: 1;
        visibility: visible;
    }
    input[type="checkbox"]:checked + .slider:before{
        background: rgba(1, 1, 1, 0.3);
    }
    .label-dark{
        right: 5px;
    }
    .label-light{
        left: 5px;
        opacity: 0;
        visibility: hidden;
    }
}
.main {
    // overflow: hidden;
    padding-top: calc(var(--header-height) + 1rem);

    .page-title {
        font-size: var(--bigger-fz);
        color: var(--white-color);
        font-weight: 600;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.grid{
    display: grid;
}

.text-main {
    color: var(--text-main-color);
}
.text-second {
    color: var(--text-second-color);
}


.c-blue {
    color: var(--blue-color);
}

.c-red {
    color: var(--red-color);
}

.c-green {
    color: var(--green-color);
}
.c-pink {
    color: var(--green-color);
}

.bg-blue {
    background: var(--blue-color);
}

.bg-red {
    background: var(--red-color);
}

.bg-green {
    background: var(--green-color);
}
.bg-pink {
    background: var(--green-color);
}
