.select-react {
    color: var(--silver-gray-color);
}

.filter-list {
    font-size: var(--small-fz);
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr .3fr;
    gap: 20px 30px;
    background: var(--bg-light-color);
    padding: 15px;
    border-radius: 4px;
}
.filter-item {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.filter-label {
    font-weight: 600;
    color: var(--white-color);
    font-size: var(--normal-fz);
}
.filter-display {
    display: flex;
    gap: 0 10px;
    height: 100%;
    .btn-display {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 2px solid var(--white-color);
        border-radius: 4px;
        transition: .3s linear;

        &:hover {
            border: 2px solid var(--green-color);
        }
        &.active {
            border: 2px solid var(--green-color);
        }
        
    }
    .btn-display i{
        color: var(--white-color);
        font-size: var(--bigger-fz);
        vertical-align: middle;
        transition: inherit;
    }
}
.filter-overlay {
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}
.btn-filter-close {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    i {
        font-size: 30px;
        color: var(--blue-light-color);
    }
}
.btn-filter-show {
    display: none;
    position: fixed;
    top: calc(var(--header-height) + 50px);
    left: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 0 4px 4px 0;
    background: var(--white-color);
    border: 1px solid var(--white-color);
    z-index: 999;
    i {
        color: var(--bg-light-color);
        font-size: var(--bigger-fz);
    }
}
@media screen and (max-width: 1024px) {
    .filter-list{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .filter-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 568px) {
    .filter-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 432px) {
    .filter-list{
        grid-template-columns: 1fr;
    }
    .filter-list {
        position: fixed;
        top: var(--header-height);
        left: -240px;
        width: 240px;
        z-index: 10000;
        padding-top: 50px;
        opacity: 0;
        transition: .3s linear;
        &.active {
            left: 0;
            opacity: 1;
        }
    }
    .filter-overlay.active {
        display: block;
    }
    .btn-filter-close{
        display: block;
    }
    .btn-filter-show {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
