.collection-title {
    text-align: center;
    font-weight: bold;
    font-size: var(--bigger-fz);
    color: var(--green-color);
    margin-bottom: 20px;
    text-transform: uppercase;
}
.collection-note {
    color: var(--silver-gray-color);
}
.collection-wrapper {
    margin-bottom: 40px;
}